// ==========================================================================
// Imports
// ==========================================================================
@import 'utils/variables';
@import 'utils/mixins';
@import 'components/banner';

// ==========================================================================
// Basic definitions
// ==========================================================================

.tv-trade-in-container {
 color: black;
 padding: 5px;
 margin: 10px 0px;
}

.tv-trade-in-container strong {
 font-family: SamsungOne700, Arial, Helvetica, sans-serif;
}